<mat-card>
    <div class="example-container">
        <form [formGroup]="productForm" (ngSubmit)="userFormSubmit()">
<p>
    <mat-form-field appearance="outline">
      <mat-label>nom du produit</mat-label>
      <input matInput placeholder="nom" type="text" formControlName="name" required>
     
     
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>référence</mat-label>
      <input matInput placeholder="Placeholder" type="text" formControlName="reference" required>
     
    
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>quantité</mat-label>
      <input matInput placeholder="quantité" type="number" formControlName="quantity" required>
     
    
    </mat-form-field>
  </p>
  <div class="example-container">
  
      <mat-form-field appearance="outline" >
        <mat-label>prix</mat-label>
        <input  matInput  placeholder="Simple placeholder" type="number" name="price" formControlName="price" required>
      </mat-form-field>
   
      </div>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>categorie</mat-label>
        <mat-select formControlName="category" [(ngModel)]="categories" required>
                <ng-container *ngFor="let c of categories">
                    <mat-option [value]="c._id">
                       {{c.name}}
                    </mat-option>
                </ng-container>
        </mat-select>
       
        <mat-error>Ce champs est obligatoire!</mat-error>
    </mat-form-field>
<!--   
      <mat-form-field appearance="fill"
          [hideRequiredMarker]="hideRequiredControl.value"
          [floatLabel]="floatLabelControl.value">
        <mat-select required>
          <mat-option>categorie</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
      </mat-form-field> -->
  
  
  <!-- <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
     
    
    </mat-form-field>
  </p> -->
</form>
</div>
</mat-card>