<div class="container">
    <div *ngIf="product" class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{  '/api/'+product.images[0] }}" /></div>
                        <div class="tab-pane" id="pic-2" *ngFor="let pic of product.images; let i=index"><img
                                src="{{  '/api/'+product.images[i] }}" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">

                        <li *ngFor="let pic of product.images; let i=index"><a data-target="#pic-2"
                                data-toggle="tab"><img src="{{  '/api/'+product.images[i] }}" /></a></li>
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{product.name}}</h3>
                    <p class="product-description">{{product.description}}</p>
                    <h4 class="price">Price : <span>${{product.price}}</span></h4>
                    <h4 class="price">After discount : <span>${{product.remise}}</span></h4>
                    <p class="price"><strong>Stock : {{product.stock}}</strong> </p>
                    <p class="price"><strong>Category : {{product.category.name}}</strong> </p>
                    <p class="price"><strong>Marque : {{product.marque.name}}</strong> </p>
                    <div class="action" *ngIf="product.status=='Requested'">
                        <button class="buttonSubmit" mat-raised-button color="primary" type="submit"
                            (click)="accept(product)"> Accepter</button>
                        <button class="buttonSubmit" mat-raised-button color="warn" (click)="refuse(product)">
                            Refuser</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>