<div class="container-fluid">
    <div class="card">
        <div class="row product-page-main card-body">
            <div class="col-xl-4">
                <section *ngIf="imagesRect.length != 0">
                    <ks-carousel [id]="100" [images]="imagesRect" [dotsConfig]="{visible: false}"
                        [carouselConfig]="{maxHeight: '600px', keyboardEnable: true}"
                        [previewConfig]="{maxHeight: '125px'}">
                    </ks-carousel>
                </section>
            </div>
            <div class="col-xl-8">
                <div class="product-page-details product-right mb-0">
                    <h2>{{product?.name}}</h2>
                    <ngb-rating [rate]="ratingValue" [readOnly]="true" class="rating-size-product"></ngb-rating>
                    <hr>
                    <div>
                        <h6 class="product-title">Référence du produit: </h6>
                        <h6 class="mb-0">{{product?.ref}}</h6>
                    </div>
                  <hr>
                  <div>
                    <h6 class="product-title">Détail du produit</h6>
                    <h6>{{product?.description}}</h6>
                  </div>
                   
                    <hr>
                    <div class="product-price digits mt-2">
                        <h4> Prix :  
                            {{ product?.price-( (product?.price * product?.remise) / 100 ) | currency:currency?.currency:'symbol'}}
                            <del *ngIf="product?.remise"><span class="money"> {{ product?.price  | currency:currency?.currency:'symbol' }}</span></del>
                          </h4>
                    </div>
                    <hr>
                    <div>
                        <h6 class="product-title">Nombre de vente</h6>
                        <h6>{{product?.sellingNumber}}</h6>
                    </div>
                    
                    <hr>
                    <div>
                        <h6 class="product-title">Stock</h6>
                        <h6>{{product?.stock}}</h6>
                    </div>
                    <hr>
                    <div>
                        <h6 class="product-title">Top produit</h6>

                        <h6 *ngIf="product?.topProduct">oui</h6>
                        <h6 *ngIf="!product?.topProduct">non</h6>
                    </div>
                    <hr>
                    <div>
                        <h6 class="product-title">Categorie: </h6>  
                        <h6>{{product?.category.name}}</h6>
                    </div>
                   
                    <hr>
                    <div>
                        <h6 class="product-title">Sous-category   </h6>
                         <h6>{{product?.marque.name}}</h6>
                    </div>
                    <hr>
                    <div>
                        <h6 class="product-title">Date de création  </h6>
                         <h6>{{product?.creationDate | date }}</h6>
                    </div>
                    
                   
                   
                
                   
                    <div class="m-t-15">
                        <button class="btn btn-warning m-r-10" type="button" (click)="update(product)">Modifier</button>
                        <button type="button" class="btn btn-danger  m-r-10" (click)="delete(product)">supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>