<div class="col-md-10">
        <div class="row inbox-wrapper">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-lg-9 email-content">
                      <div class="email-head">
                        <div class="email-head-subject">
                          <div class="title d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                              <span>New Project</span>
                            </div>
                            
                          </div>
                        </div>
                        <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
                          <div class="date">Nov 20, 11:20</div>
                        </div>
                      </div>
                      <div class="email-body">
                        <p> Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, Hello, </p>
                        
                      </div>
                    
                    </div>
                  </div>
                    
                </div>
              </div>
            </div>
          </div>
        </div>