<div class="col-md-10">
        <div class="row inbox-wrapper">
            <div class="col-lg-12">
              <h1>Détail du message</h1>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-9">
                    <div class="block">
                    <div>
                      <h6> <b> Nom: </b></h6>
                    </div>
                      <div>
                        <p>{{message.lastName}}</p> 
                      </div> 
                    </div>
                    <div class="block">
                      <div>
                        <h6> <b> Prénom: </b></h6>
                      </div>
                        <div>
                          <p>{{message.name}}</p> 
                        </div> 
                      </div>
                      <div class="block">
                        <div>
                          <h6> <b> email: </b></h6>
                        </div>
                          <div>
                            <p>{{message.email}}</p> 
                          </div> 
                        </div>
                        <div class="block">
                          <div>
                            <h6> <b> téléphone: </b></h6>
                          </div>
                            <div>
                              <p>{{message.phoneNumber}}</p> 
                            </div> 
                          </div>

                          <div class="block">
                            <div>
                              <h6> <b> message: </b></h6>
                            </div>
                              <div>
                                <p>{{message.message}}</p> 
                              </div> 
                            </div>
                            <div class="block">
                              <div>
                                <h6> <b> date d'envoi: </b></h6>
                              </div>
                                <div>
                                  <p>{{message.createdAt | date}}</p> 
                                </div> 
                              </div>
                    
                    </div>
                  </div>
                    
                </div>
              </div>
            </div>
          </div>
        </div>